@model IEnumerable<FinalFinalCoursework.Models.Module>

@{
    ViewBag.Title = "ViewModules";
}

<h2>ViewModules</h2>

<p>
    @Html.ActionLink("Create New", "CreateModule")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sem)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sem)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditModule", new { id=item.ModuleID }) |
            @Html.ActionLink("Delete", "DeleteModule", new { id=item.ModuleID })
        </td>
    </tr>
}

</table>
