@using PagedList;
@using PagedList.Mvc
@model PagedList.IPagedList<FinalFinalCoursework.Models.Student>



<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                @Html.ActionLink("View Courses", "Index", "Courses")
            </li>
            <li>
                @Html.ActionLink("View Module - Teacher", "Index", "Teacher_Module")
            </li>
            <li>
                @Html.ActionLink("View Teachers", "Index", "CRUDTeacher")
            </li>
            <li>
                @Html.ActionLink("View Groups", "Index", "Groups")
            </li>
            <li>
                @Html.ActionLink("View Modules", "Index", "Modules")
            </li>
            <li>
                @Html.ActionLink("View Students", "Index", "Students")
            </li>

            <li>
                @Html.ActionLink("View Students Service", "StudentService", "Admin")
            </li>

            <li>
                @Html.ActionLink("View Group(SEM)-Modules", "Index", "GroupModules")
            </li>

            <li>
                @Html.ActionLink("TimeTable", "Index", "TimeTables")
            </li>

        </ul>
    </div>
</div>


<div style="padding-left:20rem;">
    <p>
        @Html.ActionLink("Create New", "CreateStudents")
    </p>

    @using (Html.BeginForm("Students", "StudentServices", FormMethod.Post))
    {
        <div>
            Search By Course : @Html.TextBox("SearchCourseName")

            <input id="Submit" type="submit" value="Filter" />
        </div>
    }
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Crs.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Grp.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].EnrollDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Crs.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grp.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollDate)
                </td>

            </tr>
        }

    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Students", new { page }))

</div>