@model IEnumerable<FinalFinalCoursework.Models.GroupIdName>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                @Html.ActionLink("View Courses", "Index", "Courses")
            </li>
            <li>
                @Html.ActionLink("View Module - Teacher", "Index", "Teacher_Module")
            </li>
            <li>
                @Html.ActionLink("View Teachers", "Index", "CRUDTeacher")
            </li>
            <li>
                @Html.ActionLink("View Groups", "Index", "Groups")
            </li>
            <li>
                @Html.ActionLink("View Modules", "Index", "Modules")
            </li>
            <li>
                @Html.ActionLink("View Students", "Index", "Students")
            </li>

            <li>
                @Html.ActionLink("View Students Service", "StudentService", "Admin")
            </li>

            <li>
                @Html.ActionLink("View Group(SEM)-Modules", "Index", "GroupModules")
            </li>

            <li>
                @Html.ActionLink("TimeTable", "Index", "TimeTables")
            </li>

        </ul>
    </div>
</div>


<div style="padding-left:20rem;">
    <p>
        <div class="btn btn-success">
            @Html.ActionLink("Create New", "Create")

        </div>
    </p>
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="btn btn-warning">
                        @Html.ActionLink("Edit", "Edit", new { id = item.GroupID }) 

                    </div>
                    <div class="btn btn-info">
                        @Html.ActionLink("Details", "Details", new { id = item.GroupID }) 

                    </div>
                    <div class="btn btn-danger">
                        @Html.ActionLink("Delete", "Delete", new { id = item.GroupID })

                    </div>
                </td>
            </tr>
        }

    </table>

</div>
